<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <a href="/">
        <img src="/images/plane.svg">
        <span>Brick Farmhouse Directory</span>
      </a>
      <a href="/houses">All Houses</a>
      <a href="/houses/new">Add New House</a>
    </nav>
    <main>
      <h1><%= title %></h1>