<%- include('./partials/header') %>
<house-nav>
  <div class="nav-icon" id="nav-house-left"></div>
  <span id="house-name">Featured House: This Old House</span>
  <div class="nav-icon" id="nav-house-right"></div>
</house-nav>
<house-img>
  <div class="nav-icon" id="nav-img-left"></div>
  <img src="" width="800" height="600">
  <div class="nav-icon" id="nav-img-right"></div>
</house-img>
<house-text>
  <p style="max-width: 800px;">Welcome to <b>Brick Farmhouse Directory</b>! This site specializes in cataloging houses made of brick, generally between 1750 and 1900, in Federal, Colonial, or similar styles. Browse our index, enjoy our photos, and add houses if you know about ones we don't!</p>
</house-text>
<%- include('./partials/footer') %>
