<%- include('./partials/header') %>
<h1>Featured House</h1>
<img src="" width=800 height=600>
<p style="max-width: 800px;">Welcome to <b>Brick Farmhouse Directory</b>! This site specializes in cataloging houses made of brick, generally between 1750 and 1900, in Federal, Colonial, or similar styles. Browse our index, enjoy our photos, and add houses if you know about one we don't!</p>
<%- include('./partials/footer') %>
