<%- include('./partials/header') %>
<house-nav>
  <img src="" height="30" width="30">
  <span id="house-name">Featured House</span>
  <img src="" height="30" width="30">
</house-nav>
<house-images>
  <img src="" height="30" width="30">
  <img src="" width="800" height="600">
  <img src="" height="30" width="30">
</house-images>
<house-text>
  <p style="max-width: 800px;">Welcome to <b>Brick Farmhouse Directory</b>! This site specializes in cataloging houses made of brick, generally between 1750 and 1900, in Federal, Colonial, or similar styles. Browse our index, enjoy our photos, and add houses if you know about ones we don't!</p>
</house-text>
<%- include('./partials/footer') %>
