<%- include('./partials/header') %>
<house-nav>
  <img src="/images/nav-house-left.png" class="nav-icon" alt="Previous House" title="Previous House">
  <span id="house-name">Featured House: This Old House</span>
  <img src="/images/nav-house-right.png" class="nav-icon" alt="Next House" title="Next House">
</house-nav>
<house-images>
  <img src="/images/nav-img-left.png" class="nav-icon" alt="Previous Image" title="Previous Image">
  <img src="" width="800" height="600">
  <img src="/images/nav-img-right.png" class="nav-icon" alt="Next Image" title="Next Image">
</house-images>
<house-text>
  <p style="max-width: 800px;">Welcome to <b>Brick Farmhouse Directory</b>! This site specializes in cataloging houses made of brick, generally between 1750 and 1900, in Federal, Colonial, or similar styles. Browse our index, enjoy our photos, and add houses if you know about ones we don't!</p>
</house-text>
<%- include('./partials/footer') %>
