* {
  box-sizing: border-box;
  font-family: Helvetica;
  color: #424748;
}

body {
  height: 100vh;
  display: grid;
  grid-template-rows: 56px 1fr;
  grid-template-areas: 
    "nav"
    "main";
}

body > nav {
  grid-area: nav;
  background-color: #d39000;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffdf9a;
  overflow-y: auto;
}

#header-img {
  width: 42px;
  margin-right: 5px;
}

#header-home {
  margin-right: auto;
  font-size: 28px;
  padding: 0px 10px;
}

.nav-a {
  margin: 5px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  color: white;
  background-color: #643500;
}

.nav-a:hover:not(.active) {
  color: #0ff;
  background-color: #995200;
}

.nav-a.active {
  color: white;
  cursor: default;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login img {
  height: 20px;
  padding-left: 5px;
}

#house-name {
  font-size: 35px;
  min-width: 800px;
  text-align: center;
}

house-nav, house-picture {
  display: flex;
  justify-content: center;
  align-items: center;
}

house-text {
  max-width: 800px;
}

#house-picture-img {
  border: 2px solid black;
  border-radius: 5px;
}

.nav-icon {
  height: 45px;
  width: 49px;
  margin: 5px;
}

#nav-house-prev {
  background: url('/images/nav-house-left.png');
  background-size: 100% 100%;
}

#nav-house-next {
  background: url('/images/nav-house-right.png');
  background-size: 100% 100%;
}

#nav-picture-prev {
  background: url('/images/nav-img-left.png');
  background-size: 100% 100%;
}

#nav-picture-next {
  background: url('/images/nav-img-right.png');
  background-size: 100% 100%;
}

#nav-house-prev:hover {
  background: url('/images/nav-house-left-hover.png');
  background-size: 100% 100%;
}

#nav-house-next:hover {
  background: url('/images/nav-house-right-hover.png');
  background-size: 100% 100%;
}

#nav-picture-prev:hover {
  background: url('/images/nav-img-left-hover.png');
  background-size: 100% 100%;
}

#nav-picture-next:hover {
  background: url('/images/nav-img-right-hover.png');
  background-size: 100% 100%;
}

.td-a {
  height: 90px;
  /* background-color: #fff; */
  padding: 30px;
}

.thumb-td {
  width: 120px;
}

.thumb-img {
  border: 2px solid black;
  border-radius: 5px;
  width: 120px;
  height: 90px;
}

#house-edit-delete-p {
  padding: 60px 200px;
  border: 5px solid red;
  border-radius: 10px;
}