* {
  box-sizing: border-box;
  font-family: Helvetica;
  color: #424748;
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas: 
    "nav"
    "main"
}

body > nav {
  grid-area: nav;
  background-color: #fa9c9c;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fdc6c6;
  padding: 20px;
  overflow-y: scroll;
}

#header-img {
  width: 44px;
  margin-bottom: 6px;
  /* margin-left: -20px; */
  margin-right: 5px;
}

#header-span {
  font-size: 35px;
}

#header-home {
  margin-right: auto;
}

.nav-a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

.nav-a:hover:not(.active) {
  color: white;
  background-color: #424748;
}

.nav-a.active {
  color: white;
  cursor: default;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

#house-name {
  font-size: 35px;
  min-width: 800px;
  text-align: center;
}

house-nav, house-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-icon {
  height: 45px;
  width: 49px;
}

#nav-house-left {
  background: url('/images/nav-house-left.png');
  background-size: 100% 100%;
}

#nav-house-right {
  background: url('/images/nav-house-right.png');
  background-size: 100% 100%;
}

#nav-img-left {
  background: url('/images/nav-img-left.png');
  background-size: 100% 100%;
}

#nav-img-right {
  background: url('/images/nav-img-right.png');
  background-size: 100% 100%;
}

#nav-house-left:hover {
  background: url('/images/nav-house-left-hover.png');
  background-size: 100% 100%;
}

#nav-house-right:hover {
  background: url('/images/nav-house-right-hover.png');
  background-size: 100% 100%;
}

#nav-img-left:hover {
  background: url('/images/nav-img-left-hover.png');
  background-size: 100% 100%;
}

#nav-img-right:hover {
  background: url('/images/nav-img-right-hover.png');
  background-size: 100% 100%;
}
