* {
  box-sizing: border-box;
  font-family: Helvetica;
  color: #424748;
}

body {
  height: 100vh;
  display: grid;
  grid-template-rows: 56px 1fr;
  grid-template-areas: 
    "nav"
    "main";
}

body > nav {
  grid-area: nav;
  background-color: #d39000;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffdf9a;
  overflow-y: auto;
}

#header-img {
  width: 42px;
  margin-right: 5px;
}

#header-home {
  margin-right: auto;
  font-size: 28px;
  padding: 0px 10px;
}

.nav-a {
  margin: 5px;
  text-decoration: none;
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  /* max-height: 46px; */
}

.nav-a:hover:not(.active) {
  color: white;
  background-color: #5f4100;
}

.nav-a.active {
  color: white;
  cursor: default;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
}

.login img {
  height: 30px;
}

#house-name {
  font-size: 35px;
  min-width: 800px;
  text-align: center;
}

house-nav, house-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

house-text {
  max-width: 800px;
}

#house-main-img {
  border: 2px solid black;
  border-radius: 5px;
}

.nav-icon {
  height: 45px;
  width: 49px;
  margin: 5px;
}

#nav-house-left {
  background: url('/images/nav-house-left.png');
  background-size: 100% 100%;
}

#nav-house-right {
  background: url('/images/nav-house-right.png');
  background-size: 100% 100%;
}

#nav-img-left {
  background: url('/images/nav-img-left.png');
  background-size: 100% 100%;
}

#nav-img-right {
  background: url('/images/nav-img-right.png');
  background-size: 100% 100%;
}

#nav-house-left:hover {
  background: url('/images/nav-house-left-hover.png');
  background-size: 100% 100%;
}

#nav-house-right:hover {
  background: url('/images/nav-house-right-hover.png');
  background-size: 100% 100%;
}

#nav-img-left:hover {
  background: url('/images/nav-img-left-hover.png');
  background-size: 100% 100%;
}

#nav-img-right:hover {
  background: url('/images/nav-img-right-hover.png');
  background-size: 100% 100%;
}
