<%- include('../partials/header') %>
<form action="/houses" method="post">
  <p><label class="form-label">Name:</label><input class="form-control" type="text" name="name"></p>
  <p><label class="form-label">Location:</label><input class="form-control" type="text" name="location"></p>
  <p><label class="form-label">Latitude/Longitude:</label><input class="form-control" type="text" name="latLon"></p>
  <p><label class="form-label">Construction Year:</label><input class="form-control" type="number" name="constructionYear" min="1750" max="1900"></p>
  <p><label class="form-label">Architectural Style:</label>
  <select  class="form-control" name="archStyle">
    <option value="Federal">Federal</option>
    <option value="Colonial">Colonial</option>
    <option value="Other">Other</option>
  </select></p>
  <p><label class="form-label">Featured Picture:</label><input class="form-control" type="text" name="featuredPicture"></p>
  <p><label class="form-label">Description:</label><textarea class="form-control" name="description" rows="4" cols="60"></textarea></p>
  <input class="btn btn-primary" type="submit" value="Add House">  
</form>
<%- include('../partials/footer') %>
